body {
    font-family: lato;
    padding: 120px 0;
}

[class*="--container"] {
    max-width: 1230px;
    margin: 0 auto;
    color: #424551;
}


.title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
    margin-bottom: 40px;
}

.text {

    line-height: 160%;
    margin-bottom: 48px;
}

.page--left-title2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 24px;
}

.page--left-list li {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 4px;
    padding-left: 32px;
    background: url(../img/check.png) 0 6px no-repeat;
}

.page--left {
    margin-bottom: 118px;
}

.title3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 8px;
}

.page--right-title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
    margin-bottom: 16px;
}

.profession {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #787A80;
    margin-bottom: 32px;

}

.page--right-list {
    margin-bottom: 40px;
}

.list {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}

.star::before {
    content: "";
    background: url(../img/star.svg) 0 0 no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 8px;

}

.list li:nth-child(2)::before {
    content: "";
    background: url(../img/play.svg) 0 0 no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 8px;
}

.list li:nth-child(3)::before {
    content: "";
    background: url(../img/person.svg) 0 0 no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 8px;
}


h1 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}

.link:hover {
    color: red;
}

.link:active {
    color: indigo
}

.link:visited {
    color: lightsalmon;
}

.block {
    max-width: 1230px;
    padding: 30px;
    font-size: 20px;
    background: rgb(134, 219, 226);
    margin-bottom: 30px;
}

.block-list li {
    margin-bottom: 10px;
}

.block-list ul {
    display: none;
}

.block-list li:hover ul {
    display: block;

}

.under-list {
    background: white;
    margin: 20px;
    padding: 10px;
}


.link2 {
    display: inline-block;
    width: 290px;
    height: 75px;
    color: #1a3ed1;
    border: #1e212c 1px solid;
    border-radius: 35px;
    background-color: yellow;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 10px -7px 5px 0px rgba(168, 157, 157, 0.75);
    margin-left: 490px;
    margin-bottom: 30px;
    text-align: center;
    padding: 25px;
}

.link2:hover {
    box-shadow: 4px -1px 5px 3px rgba(117, 84, 84, 0.7);
    background-color: blue;
    color: yellow;
}

.block2 {
    background: rgb(209, 212, 153);
    max-width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    display: none;

}

.block2:target {
    display: block;
}

.text2 {
    background: #d9deed;
    padding-top: 20px;
    padding-bottom: 5px;
    line-height: 120%;
    margin-bottom: 20px;
}

.text3 p:not(:last-child) {
    margin-bottom: 10px;
}

.text2 p:last-of-type {
    color: blue;
}

.block3 {
    max-width: 380px;
    background: cadetblue;
}

.text3 p:first-child {
    text-decoration: underline;
}

.text3 p:nth-child(even) {
    color: darkgreen;
    background-color: aliceblue;
    text-transform: uppercase;
}

.game--container {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    background: rgb(55, 132, 214);
    padding: 15px;
}

h4 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 30px;
}

.start {
    width: 90px;
    height: 40px;
    background-color: yellow;
    text-align: center;
    padding-top: 10px;

}

.start:hover {
    color: rgb(55, 132, 214);
    font-weight: 600;
}

.start:hover+div {
    visibility: visible;
}

.start,
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.finish {
    background-color: yellow;
}

.one {
    width: 300px;
    height: 40px;
    visibility: hidden;

}

.one:hover,
.one:hover+div {
    visibility: visible;
}

.two {
    width: 30px;
    height: 260px;
    margin-left: 270px;
    visibility: hidden;
}

.two:hover,
.two:hover+div {
    visibility: visible;
}

.three {
    width: 500px;
    height: 20px;
    margin-left: 270px;
    visibility: hidden;
}

.three:hover,
.three:hover+div {
    visibility: visible;
}

.four {
    width: 30px;
    height: 40px;
    margin-left: 740px;
    visibility: hidden;
}

.four:hover,
.four:hover+div {
    visibility: visible;
}

.five {
    width: 740px;
    height: 20px;
    margin-left: 30px;
    visibility: hidden;
}

.five:hover,
.five:hover+div {
    visibility: visible;
}

.six {
    width: 20px;
    height: 70px;
    margin-left: 30px;
    visibility: hidden;
}

.six:hover,
.six:hover+div {
    visibility: visible;
}

.seven {
    width: 350px;
    height: 20px;
    margin-left: 30px;
    visibility: hidden;
}

.seven:hover,
.seven:hover+div {
    visibility: visible;
}

.eight {
    width: 505px;
    height: 15px;
    margin-left: 360px;
    visibility: hidden;
}

.eight:hover,
.eight:hover+div {
    visibility: visible;
}

.finish {
    width: 90px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    margin-left: 775px;
    visibility: hidden;
}

.finish:hover {
    visibility: visible;
    color: rgb(55, 132, 214);
    font-weight: 600;

}